@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="width: 80%; margin: 0 auto;">
    <canvas id="weightChart"></canvas>
</div>

<script>
    $(document).ready(function () {
        
        $.ajax({
            url: '/Usuario/Historico', 
            type: 'GET',
            success: function (data) {
                
                var weightData = {
                    labels: data.labels,
                    datasets: [{
                        label: 'Peso (kg)',
                        data: data.weights, 
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                };

                
                var chartOptions = {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day'
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }],
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Peso (kg)'
                            }
                        }]
                    }
                };

               
                var ctx = document.getElementById('weightChart').getContext('2d');
                var weightChart = new Chart(ctx, {
                    type: 'line',
                    data: weightData,
                    options: chartOptions
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                alert('Erro ao obter o histórico de peso do usuário. Por favor, tente novamente.');
            }
        });
    });
</script>
