@using static BackEndMeutreino.Models.Exercicio
@model BackEndMeutreino.Models.Exercicio

@{
    ViewData["Title"] = "Create";
}

<h1>Criar novo exercicio</h1>

<h4>Exercicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grupoMuscular" class="control-label"></label>
                <input asp-for="grupoMuscular" class="form-control" />
                <span asp-validation-for="grupoMuscular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dificuldade" class="control-label"></label>
                <select asp-for="dificuldade" class="form-control"asp-items="Html.GetEnumSelectList<Dificuldade>()" ></select>
                <span asp-validation-for="dificuldade" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <a asp-action="Index" class="btn btn-info" >Voltar</a>
                <input type="submit" value="Criar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
